/*GENERAL SETTINGS*/
:root {
  --dark-gray-color: #505050;
  --ligth-gray-color: #777777;
  --pink-color: #b1cbbb;
}

body {
  box-sizing: border-box;
  background-color: #f5f5f5;
}

.content-wrapper {
  margin: 20px auto;
  width: 1024px;
  font-family: "Cabin", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  background-color: #ffffff;
  box-shadow: 10px 10px 40px -1px rgba(0, 0, 0, 0.23);
}

.two-columns {
  display: flex;
}

.left-column {
  width: 42%;
  color: var(--dark-gray-color);
  background-color: var(--pink-color);
}

.right-column {
  width: 58%;
  padding: 40px;
}
/*GENERAL SETTINGS*/
/*----------------*/

/*LEFT COLUMN: HEADER*/
header {
  padding: 30px;
  text-align: center;
  background-color: #ffffff;
}

header img {
  margin-bottom: 10px;
  border: 10px solid var(--pink-color);
  border-radius: 50%;
}

header h1 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 7px;
}

header h2 {
  margin-bottom: 20px;
  letter-spacing: 2px;
}
/*--LEFT COLUMN: HEADER--*/

/*LEFT COLUMN: MAIN*/
main {
  padding: 0 5px;
}

main h3 {
  width: 136px;
  margin: 20px auto 20px;
  padding: 5px 20px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #ffffff;
  background-color: var(--dark-gray-color);
  border-radius: 5px;
}

main .contacts h3 {
  margin-top: 0;
  margin-bottom: 0;
  transform: translate(0, -50%);
}

main li {
  margin-bottom: 10px;
}
/*--LEFT COLUMN: MAIN--*/

/*LEFT COLUMN: CONTACTS*/
.contacts li {
  margin: 5px 35px;
}

.contacts li i {
  margin: 0 25px 0 0;
}

.contacts a {
  text-decoration: none;
  color: var(--dark-gray-color);
}

main :not(.contacts) ul {
  list-style-type: disc;
  margin-left: 50px;
}
/*--LEFT COLUMN: CONTACTS--*/

/*LEFT COLUMN: LANGUAGES*/
.language-name {
  font-weight: 700;
  text-transform: uppercase;
}
/*--LEFT COLUMN: LANGUAGES--*/
/*--------------------------*/

/*RIGHT COLUMN: ABOUT MYSELF*/
.right-column .sub-header {
  display: flex;
  margin-top: 30px;
  margin-bottom: 15px;
}

.right-column .about-myself .sub-header {
  margin-top: 0;
}

.about-myself p {
  margin-bottom: 10px;
  margin-left: 45px;
}

.right-column h3 {
  flex: 1;
  vertical-align: middle;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--ligth-gray-color);
  border-bottom: 2px solid var(--ligth-gray-color);
}

.right-column p {
  color: var(--ligth-gray-color);
}

.right-column i {
  padding-right: 10px;
}
/*--RIGHT COLUMN: ABOUT MYSELF--*/

/*RIGHT COLUMN: EDUCATION*/
.education p {
  margin-left: 45px;
}

.education p strong {
  font-weight: 700;
}
/*--RIGHT COLUMN: EDUCATION--*/

/*RIGHT COLUMN: EXPERIENCE*/
.experience p,
.duties-list {
  margin-left: 45px;
}

.experience p strong {
  font-weight: 700;
}

.duties-list {
  margin-left: 30px;
}
/*--RIGHT COLUMN: EXPERIENCE--*/

/*RIGHT COLUMN: CODE*/
.code-example p {
  margin-left: 45px;
}

.code-example p strong {
  font-weight: 700;
}

pre {
  margin-left: 20px;
  margin: 20px;
  padding-top: 20px;
  font-family: monospace;
  font-size: 0.9rem;
  background-color: #f5f5f5;
}
/*--RIGHT COLUMN: CODE--*/

/*FOOTER*/
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 0.8rem;
  color: #ffffff;
  background-color: var(--dark-gray-color);
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

footer a p {
  padding: 1em;
}

footer p {
  font-size: 16px;
}

.my-github {
  display: flex;
  align-items: center;
}
/*--FOOTER--*/
